.dashboard {
  /* background-color: #010810; */
  background-image: url("../img/starImage.jpg");
  /* height: 100%; */
  /* padding: 20px 30px 0 30px; */
}

/* .search-box {
  display: flex;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-icon {
  font-size: 18px;
} */
.dashboard-container {
  color: #fff;
  display: flex;
  padding: 20px;
  /* margin: 30px; */
}

.left-dashboard {
  flex: 3;
  padding: 2%;
  border: 2px solid #fff;
  border-radius: 30px;
  margin-right: 10px;
}

.heading-container {
  margin: 0 0 25px 25px;
}

.table-container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.rounded-table-corner {
  border-radius: 2%;
}

.table-container ul li {
  margin-bottom: 5%;
}

.right-dashboard {
  flex: 1;
  padding: 2%;
  border: solid 2px #fff;
  border-radius: 30px;
}

#ch {
  margin-top: 30px;
  color: #fff;
}
.dashboard-table{
  padding: 40px;
  /* background-image: url("../img/financial-data.jpg"); */
  /* padding: 10px; */
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 100px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: rgba(0, 123, 255, 0.2); 
  border-radius: 10px;
}

th {
  background-color: rgba(0, 123, 255, 0);
  color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .logo {
    margin-bottom: 10px;
  }

  .nav-links {
    flex-basis: 100%; /* Take full width on smaller screens */
    justify-content: center;
  }

  .search-box {
    margin-top: 20px;
  }
}


