.footer {
    background-image: url('../img/earth.jpg');
    color: #fff;
    padding: 20px;
    background-position: 50%;
    background-size: cover;
}

.footer-content {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-ul {}

.copyright {
    text-align: center;
}